body{
margin:0;
font-family: Arial;
background:#ccc;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.app{
width:360px;
height:640px;
background:white;
border-radius:20px;
overflow:hidden;
box-shadow:0 0 20px rgba(0,0,0,0.3);
position:relative; /* 👈 IMPORTANTE */
}

h1{
background:#2196F3;
color:white;
padding:15px;
margin:0;
text-align:center;
}

.container{
padding:15px;
padding-bottom:80px;
}

input{
width:100%;
padding:10px;
margin:5px 0;
border-radius:6px;
border:1px solid #ccc;
}

button{
padding:8px;
margin:5px 2px;
border:none;
border-radius:6px;
background:#2196F3;
color:white;
}

.card{
background:white;
padding:10px;
margin:10px 0;
border-radius:10px;
box-shadow:0 2px 5px rgba(0,0,0,0.2);
}

.menu{
position:absolute;
bottom:0;
left:0;
width:100%;
background:white;
display:flex;
justify-content:space-around;
padding:10px;
border-top:1px solid #ccc;
}

.menu button{
background:none;
color:black;
font-size:18px;
}
